.ckdata body, .ckdata div, .ckdata dl, .ckdata dt, .ckdata dd, .ckdata ul, .ckdata ol, .ckdata li, .ckdata h1, .ckdata h2, .ckdata h3, .ckdata h4, .ckdata h5, .ckdata h6, .ckdata pre, .ckdata form, .ckdata fieldset, .ckdata input, .ckdata textarea, .ckdata p, .ckdata blockquote, .ckdata th, .ckdata td { 
	margin:0;
	padding:0;
}
.ckdata table {
	border-collapse:collapse;
	border-spacing:0;
}
.ckdata fieldset, .ckdata img { 
	border:0;
}
.ckdata address, .ckdata caption, .ckdata cite, .ckdata code, .ckdata dfn, .ckdata em, .ckdata strong, .ckdata th, .ckdata var {
	font-style:normal;
	font-weight:normal;
}
.ckdata ol, .ckdata ul {
	list-style:none;
}
.ckdata caption, .ckdata th {
	text-align:left;
}
.ckdata h1, .ckdata h2, .ckdata h3, .ckdata h4, .ckdata h5, .ckdata h6 {
	font-size:100%;
	font-weight:normal;
}
.ckdata q:before, .ckdata q:after {
	content:'';
}
.ckdata abbr, .ckdata acronym {
	border:0;
}

.ckdata h1 {
	font-size: 2em;
	background-image: none;
	background-color: transparent;
	color: black;
}
.ckdata h1 span {
	color: black;
}
.ckdata h2 {
	font-size: 1.5em;
	color: black;
	background-image: none;
	background-color: transparent;
}
.ckdata h3 {
	font-size:108%;  
}
.ckdata h1, .ckdata h2, .ckdata h3 {
	margin: 0.67em 0px 0.67em 0px;
}
.ckdata h1, .ckdata h2, .ckdata h3, .ckdata h4, .ckdata h5, .ckdata h6, .ckdata strong {
	font-weight:bold; 
}
.ckdata abbr, .ckdata acronym {
	border-bottom:1px dotted #000;
	cursor:help;
} 
.ckdata em {
	font-style:italic;
}
.ckdata blockquote, .ckdata ul, .ckdata ol, .ckdata dl {
	margin:1em;
}
.ckdata ol, .ckdata ul, .ckdata dl {
	margin-left:2em;
}
.ckdata dt {
	float: none;
	text-align: left;
	width: auto;
}
.ckdata ol li {
	list-style: decimal outside;	
}
.ckdata ul li {
	list-style: disc outside;
}
.ckdata dl dd {
	margin-left:1em;
}
.ckdata th, .ckdata td {
	border:1px solid #000;
	padding:.5em;
}
.ckdata th {
	font-weight:bold;
	text-align:center;
}
.ckdata caption {
	margin-bottom:.5em;
	text-align:center;
}
.ckdata p, .ckdata fieldset, .ckdata table {
	margin-bottom:1em;
}
