.yui-skin-sam .yui-panel .hd {
	color: #fff;
}
div#edit .action_links, div#show .action_links, div#add .action_links {
	display: none;
}
a.dummy {
	text-decoration: none;
	color: black;
}
.in_integer {
	width: 20px;
}

.named_scopes {
	margin-bottom: 1em;
	padding-left: 1px;
}
.named_scopes .yui-radio-button-checked a {
	color: white;
}
.named_scopes .yui-button {
	margin: 0px;
}