.fieldWithErrors textarea, .fieldWithErrors input {
	color: red;
	background-color: #FFF0F0;
}
#errorExplanation {
  border: 2px solid red;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
	background-image: none;
	background-color: #c00;
	color: #fff;
	padding: 5px;
}
#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}
#errorExplanation ul {
	margin-bottom: 0;
}
#errorExplanation ul li {
	margin-left: 30px;
	list-style: disc;
}
div.fieldWithErrors {
	display: inline;
}